/* src/components/WordCarousel/WordCarousel.css */
.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 300px; /* Устанавливаем фиксированную высоту для карусели */
}

.word-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 60%; /* Устанавливаем ширину для контейнера с карточками */
}

.carousel-button {
  background-color: #6E5BE4; 
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 50%; /* Делаем кнопки круглыми */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Добавляем тень */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: #5A4BD3; /* Изменение цвета при наведении */
}

.prev-button {
  left: 20px; /* Отступ от левого края */
}

.next-button {
  right: 20px; /* Отступ от правого края */
}

.translation-container {
  margin-top: 20px;
}

.translation-button {
  background-color: #6E5BE4;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.translation-button:hover {
  background-color: #5A4BD3; /* Изменение цвета при наведении */
}

.learned-counter {
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 4px;
}


